@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="headtintuc">
    <i style="color: #009999; font-size: 20px;" class="fa fa-home"></i>&nbsp;Liên hệ
</div>
<br><br>
<slider>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.097368733826!2d105.77963881487621!3d21.02878969315333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b32b8faa57%3A0x6e15767226ece5ec!2sEdubook!5e0!3m2!1svi!2s!4v1482141996577" width="950" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</slider>
<br>
<div class="leftbody">
    <DIV class="tll-tintuc">LIÊN HỆ</DIV><br>
    <div class="lienhe">
        <h5>* Công ty cổ phần Văn hóa và Truyền thông EduBooks:</h5>
        <p>Địa chỉ: &nbsp;&nbsp; 59 - Đỗ Quang - Trung Hòa - Cầu Giấy - Hà Nội</p>
        <p>Điện thoại: (84-4) 35 146 876</p>
        <p style="padding-left: 65px;">&nbsp;&nbsp;(84-4) 35 146 875</p>
        <p style="padding-left: 65px;">&nbsp;&nbsp;(84-4) 35 148 684</p>
        <p style="display: inline;">FAX: </p><p style="padding-left:25px;display: inline;">&nbsp;&nbsp; (84-4) 35 146 965</p><br><br>
        <h5>* Văn phòng đại diện miền Nam:</h5>
        <p>Địa chỉ:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nhà 015 - Lô B - Chung cư 43 - Hồ Văn Huê -</p>
        <p style="padding-left: 65px;">&nbsp; Phường 9 - Quận Phú Nhuận - TP Hồ Chí Minh</p>
        <p>Điện thoại: (84-8) 38 479 853</p>
        <p>Fax:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(84-8) 38 443 034</p>
        <p>Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;hnhcm@edubooks.vn</p><br><br>
        <h5>* Các thông tin chung về EduBooks:</h5>
        <p>info@edubooks.com</p>
        <h5>* Liên hệ về bản quyền xuất bản:</h5>
        <p>banquyen@edubooks.com</p>
        <h5>*Liên hệ kinh doanh, phát hành:</h5>
        <p>xuatban@edubooks.com</p>
        <h5>* Liên hệ về bản thảo:</h5>
        <p>banthao@edubooks.com</p>
        <h5>* Liên hệ PR/marketing:</h5>
        <p>info@edubooks.com</p>
        <h5>* Nhận phản hồi của độc giả:</h5>
        <p>trongtran@edubooks.com</p><br>
        <br>
    </div>

    <form id="form-contact" method="get">
        <div class="formthongtin">
            <h5><a href="#">Thông tin cá nhân</a></h5>
            <br>
            <div style="float: left;margin-left: 10px;font-size: 13px;">
                <span>Họ và tên <span style="color: #ff0033;font-family: 'arial',sans-serif;">*</span></span><br><br>
                <span>Email <span style="color: #ff0033;font-family: 'arial',sans-serif;">*</span></span><br><br>
                <span>Địa chỉ <span style="color: #ff0033;font-family: 'arial',sans-serif;">*</span></span><br><br>
                <span>Điện thoại <span style="color: #ff0033;font-family: 'arial',sans-serif;">*</span></span><br><br>
                <span>Thông tin thêm </span><br><br>
            </div>
            <div style="float: right;margin-right: 70px;">
                <input id="hoten" type="text" size="50" /><br>
                <input id="email" style="margin-top: 15px;" type="email" size="50" /><br>
                <input style="margin-top: 15px;" type="text" size="50" /><br>
                <input id="sdt" style="margin-top: 15px;" type="tel" size="50" /><br>
                <textarea style="margin-top: 15px;" rows="4" cols="55"></textarea>
            </div>
        </div>
        <div class="formthongtin1">
            <h5><a href="#">Nội dung</a></h5><br>
            <div style="float: left;margin-left: 10px;font-size: 13px;">
                <span>Tiêu đề</span><br><br>
                <span>Nội dung <span style="color: #ff0033;font-family: 'arial',sans-serif;">*</span></span><br>
            </div>
            <div style="float: right;margin-right: 70px;">
                <input id="tieude" style="" type="text" size="50" /><br>
                <textarea id="noidung" style="margin-top: 15px;" rows="4" cols="55"></textarea>
            </div>
        </div>
        <input type="button" value="Gửi thông tin" onclick="Validation()" />
        <span>( Ý kiến phản hồi của bạn là sự đóng góp cho chúng tôi !)</span>
    </form>
</div>
<div class="r-tintuc">
    <div class="tl-tintuc">DANH MỤC</div>
</div>
<div class="menu-tintuc">
    <div class="row">
        <h2><a href="talk.html">TIN EDU BOOKS</a></h2>
    </div>
    <div class="row">
        <h2><a href="talk.html">TUYỂN DỤNG</a></h2>
    </div>
    <div class="row">
        <h2><a href="talk.html">EDU DIGITAL</a></h2>
    </div>
    <div class="row">
        <h2><a href="talk.html">TIN EDU BOOKS</a></h2>
    </div>
    <div class="row">
        <h2><a href="talk.html">BÁO CHÍ GIỚI THIỆU</a></h2>
    </div>
    <div class="row">
        <h2><a href="talk.html">CLIP GIỚI THIỆU SÁCH</a></h2>
    </div>
    <div class="row">
        <h2><a href="talk.html">SÁCH TÁI BẢN TRONG THÁNG</a></h2>
    </div>
    <div class="row">
        <h2><a href="talk.html">THÔNG TIN BẢN QUYỀN</a></h2>
    </div>
    <div class="row">
        <h2><a href="talk.html">NHÂN VẬT SỰ KIỆN</a></h2>
    </div>
    <div class="row">
        <h2><a href="talk.html">GÓC NHÌN CEO</a></h2>
    </div>
    <div class="row">
        <h2><a href="talk.html">TIN KHUYẾN MÃI</a></h2>
    </div>
</div>
<div class="tr-tintuc">
    TIN ĐƯỢC QUAN TÂM
</div>
<div id="tinduocquantam">
    <div id="tinduocquantam-list">
        <img style="float: left;" src="img_tintuc1/tinquantam.jpg" width="90" height="70" />
        <p><a href="#">Giấy mời: Tọa đàm Viết văn cho thiếu nhi và Giao lưu với nhà văn Hwang Sun-mi</a></p>
    </div>
    <div id="tinduocquantam-list">
        <img style="float: left;" src="img_tintuc1/tinquantam1.jpg" width="90" height="70" />
        <p><a href="#">Chương trình: Cả nhà mình đọc sách – Ecopark</a></p>
    </div>
    <div id="tinduocquantam-list">
        <img style="float: left;" src="img_tintuc1/tinquantam2.jpg" width="90" height="70" />
        <p><a href="#">Buổi đọc sách “Số phận chú bé đánh trống” (Arkady Gaida, NXB Kim Đồng, 2016)</a></p>
    </div>
</div>
<div class="nhataitro">
    <div id="doitac">
        Đối tác
    </div>
    <div class="giaodiennhataitro">
        <a href="http://alphabooks.vn/"> <img src="~/Image_System/nha_tai_tro/Alphabooks.jpg" alt="" /> </a>
    </div>
    <div class="giaodiennhataitro">
        <a href="http://www.bachviet.edu.vn/vi/" target="_blank"> <img src="~/Image_System/nha_tai_tro/Bách Việt.jpg" alt="" /> </a>
    </div>
    <div class="giaodiennhataitro">
        <a href="http://mannup.vn/" target="_blank"> <img src="~/Image_System/nha_tai_tro/manup.jpg" alt="" /> </a>
    </div>
    <div class="giaodiennhataitro">
        <a href="http://nhanam.vn/" target="_blank"> <img src="~/Image_System/nha_tai_tro/Nhã Nam.jpg" alt="" /> </a>
    </div>
    <div class="giaodiennhataitro">
        <a href="http://sachbaovn.vn/" target="_blank"> <img src="~/Image_System/nha_tai_tro/logosachbaovn.png" alt="" /> </a>
    </div>
    <div class="giaodiennhataitro">
        <a href="http://docsachcungcon.com/" target="_blank"> <img src="~/Image_System/nha_tai_tro/doc sach.png" alt="" /> </a>
    </div>
    <div class="giaodiennhataitro">
        <a href="https://www.bigdream.vn/" target="_blank"> <img src="~/Image_System/nha_tai_tro/bigdream.jpg" alt="" /> </a>
    </div>
    <div class="giaodiennhataitro">
        <a href="https://read.alezaa.com/?view=store" target="_blank"> <img src="~/Image_System/nha_tai_tro/alezaa.png" alt="" /> </a>
    </div>
</div>
<script>
    function Validation() {
        var hoten = document.getElementById("hoten").value;
        var email = document.getElementById("email").value;
        var tieude = document.getElementById("tieude").value;
        var noidung = document.getElementById("noidung").value;
        var sdt = document.getElementById("sdt").value;
        if (hoten.length < 1) {
            swal("Note!", "Họ tên không được trống!", "warning");
        } else
            if (email.length < 1) {
                swal("Note!", "Email không được trống!", "warning");
            } else
                if (sdt.length < 1) {
                    swal("Note!", "Số điện thoại không được trống!", "warning");
                } else
                    if (tieude.length < 1) {
                        swal("Note!", "Tiêu đề không được trống!", "warning");
                    } else
                        if (noidung.length < 1) {
                            swal("Note!", "Nội dung không được trống!", "warning");
                        } else {
                            var formData2 = new FormData();
                            formData2.append("hoten", hoten);
                            formData2.append("noidung", noidung);
                            formData2.append("email", email);
                            formData2.append("tieude", tieude);
                            formData2.append("sdt", sdt);
                            var xmlHttp2 = new XMLHttpRequest();

                            xmlHttp2.open("post", "/Home/SendEmail", false); // false for synchronous request
                            xmlHttp2.send(formData2);
                            var intEmail = xmlHttp2.responseText;
                            if (intEmail == "True") {
                                swal("Thanks for feedback!", "Ý kiến phản hồi của bạn là sự đóng góp cho chúng tôi !!", "success");
                            } else {
                                swal("Error 404!", "Error 404!", "warning");
                            }
                        }
    }
</script>

@section css_link{
    <link href="~/Content/newcss.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/css/lienhe.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@6.10.2/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@6.10.2/dist/sweetalert2.min.js"></script>
}
@section login{
    @Html.Raw(ViewBag.checklogin)
}